* {
  font-size: 12px;
  font-family: "LXGW WenKai GB Screen R";
}

window#waybar {
    background: rgba(0,0,0,0);
}

#battery {
  margin: 3px 0px 3px 0px;
  background: #1d1f21;
  padding: 5px;
  color: #c5c8c6;
}

#custom-powermenu {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #1d1f21;
  border-top: 2px solid #1d1f21;
  border-bottom: 2px solid #1d1f21;
  background: #F00;
  color: #FFF;
}
        #memory {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
                color: #8EBBBA;
              }
        #cpu {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
                color: #B38DAC;
              }
        #clock {
                color: #E4E8EF;
              }

#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  color: #FFF;
  background: #1d1f21;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c5c8c6;
}


#pulseaudio {
  margin: 3px 0px 3px 0px;
  padding: 5px;
  background: #1d1f21;
  color: #c5c8c6;
}

#network {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}
        #workspaces {
                padding-left: 0px;
                padding-right: 4px;
              }
        #workspaces button {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 6px;
                padding-right: 6px;
                color: rgb(26, 24, 38);
              }
        #workspaces button.active {
                background-color: rgb(181, 232, 224);
                color: rgb(26, 24, 38);
              }
        #workspaces button.urgent {
                color: rgb(26, 24, 38);
              }
        #workspaces button:hover {
                background-color: #B38DAC;
                color: rgb(26, 24, 38);
              }
              tooltip {
                /* background: rgb(250, 244, 252); */
                background: #3b4253;
              }
              tooltip label {
                color: #E4E8EF;
              }
